<!-- {%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>check out</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>

  .carousel-inner img {
    width: 20%;
    height: 20%;
  }
  
  body{
      color:black;
      
  }
  </style>
</head>
<body>
    <p>{{ product.title }} {{product.kiosk.currency}} 
        <br>
        {{product.selling_price}}
    <p> {{ product.description }} </p>
​
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img  src="{% static 'images/passion.jpg' %}"alt="Pineapples" width="500" height="500"/>
      <div class="carousel-caption">
        <p>{{ product.title }} {{product.kiosk.currency}} 
            <br>
            {{product.selling_price}}
        <p> {{ product.description }} </p>
      </div>   
    </div>
    <div class="carousel-item">
        <img  src="{% static 'images/kiwi.jpg' %}"alt="Pineapples" width="500" height="500"/>
      <div class="carousel-caption">
        <p>{{ product.title }} {{product.kiosk.currency}} 
            <br>
            {{product.selling_price}}
        <p> {{ product.description }} </p>
      </div>   
    </div>
    <div class="carousel-item">
        <img  src="{% static 'images/ovacado.jpg' %}"alt="Pineapples" width="500" height="500"/>
      <div class="carousel-caption">
        <p>{{ product.title }} {{product.kiosk.currency}} 
            <br>
            {{product.selling_price}}
        <p> {{ product.description }} </p>
      </div>   
    </div>

    <div class="carousel-item">
      <img  src="{% static 'images/water.jpg' %}"alt="Pineapples" width="500" height="500"/>
    <div class="carousel-caption">
      <p>{{ product.title }} {{product.kiosk.currency}} 
          <br>
          {{product.selling_price}}
      <p> {{ product.description }} </p>
    </div>   
  </div>
  <div class="carousel-item">
    <img  src="{% static 'images/apple2.jpg' %}"alt="Pineapples" width="500" height="500"/>
  <div class="carousel-caption">
    <p>{{ product.title }} {{product.kiosk.currency}} 
        <br>
        {{product.selling_price}}
    <p> {{ product.description }} </p>
  </div>   
</div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#Groceries" data-slide="next">

  </body>
  </html>
   -->